@{
    Layout = "_DataTablesLayout";
    ViewData["Title"] = "Data Tables";
}

<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class="card container">
            <form asp-action="FighterSearch" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <button type="submit" class="btn">Search</button>
                            </span>
                        </div>
                        <input class="form-control" name="search" />
                    </div>
                </div>
            </form>
            <a asp-action="FighterTable">
                <img class="fit" src="~/Images/FighterBlack.jpg" alt="Fighter Picture" />
            </a>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card container">
            <form asp-action="EquipmentSearch" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <button type="submit" class="btn">Search</button>
                            </span>
                        </div>
                        <input class="form-control" name="search" />
                    </div>
                </div>
            </form>
            <a asp-action="EquipmentTable">
                <img class="fit" src="~/Images/EquipmentButton.jpg" alt="Fighter Picture" />
            </a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
