@model List<Fighter>

@{
    ViewData["Title"] = "Data Tables";
}

@foreach (Fighter f in Model)
{
    <div class="flex-row">
        <div class="card">
            <div class="card-header text-center">
                <h3>@f.Name</h3>
            </div>
            <div class="card-body">
                Description:@f.Description <br />
                Color:@f.Color <br />
            </div>
        </div>
    </div>
}