@model List<Fighter>

@{
    ViewData["Title"] = "Data Tables";
}

@foreach (Fighter f in Model)
{
    <div class="flex-row">
        <div class="card">
            <div class="card-header text-center">
                <h3>@f.Name</h3>
            </div>
            <div class="card-body">
                Id:@f.FighterID <br />
                Description:@f.Description <br />
                Color:@f.Color <br />
                Head:@f["Head"].Name <br />
                Chest:@f["Chest"].Name <br />
                Pants:@f["Pants"].Name <br />
                Shoes:@f["Shoes"].Name <br />
                Gloves:@f["Gloves"].Name <br />
                Ring:@f["Ring"].Name <br />
                Right Hand:@f["Right Hand"].Name <br />
                Left Hand:@f["Left Hand"].Name
            </div>
        </div>
    </div>
}