@model List<Fighter>

@{
    ViewData["Title"] = "Fighter Table";
}

@foreach (Fighter f in Model)
{
    <div class="flex-row">
        <div class="card">
            <div class="card-header text-center">
                <h3>@f.Name</h3>
            </div>
            <div class="card-body">
                Id:@f.FighterID <br />
                Description:@f.Description <br />
                Color:@f.Color <br />
                Head:@(f["Head"] != null ? f["Head"].Name : "None") <br />
                Chest:@(f["Chest"] != null ? f["Chest"].Name : "None") <br />
                Pants:@(f["Pants"] != null ? f["Pants"].Name : "None") <br />
                Shoes:@(f["Shoes"] != null ? f["Shoes"].Name : "None") <br />
                Gloves:@(f["Gloves"] != null ? f["Gloves"].Name : "None") <br />
                Ring:@(f["Ring"] != null ? f["Ring"].Name : "None") <br />
                Right Hand:@(f["Right Hand"] != null ? f["Right Hand"].Name : "None") <br />
                Left Hand:@(f["Left Hand"] != null ? f["Left Hand"].Name : "None") <br />
                Wins:@f.Wins <br />
                Losses:@f.Losses
            </div>
        </div>
    </div>
}