@{ 
    Layout = "_Layout";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h1>Search Database</h1>
            <h6>
                Click on the icons to view all fighters or equipment, or make more
                specific searches using the search boxes.
            </h6>
        </div>
        <div class="col-2"></div>
    </div>
</div>

@RenderBody()