<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Fight Builder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-danger">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="nav-item"><a class="nav-link text-light" asp-controller="Equipment" asp-action="Index">Design Equipment</a></li>
            <li class="nav-item"><a class="nav-link text-light" asp-controller="Fighter" asp-action="Index">Build a Fighter</a></li>
            <li class="nav-item"><a class="nav-link text-light" asp-controller="Home" asp-action="Fight">Fight!</a></li>
            <li class="nav-item"><a class="nav-link text-light" asp-controller="Home" asp-action="DataTables">Data Tables</a></li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>